.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.button {
  width: 120px;
  font-size: 2rem;
  background-color: darkcyan;
}

.pagination.dark .button {
  background-color: slateblue;
}

.pageCounter {
  min-width: max-content;
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
}

.pagination.dark .pageCounter {
  color: gold;
}

@media (max-width: 768px) {
  .button {
    width: 80px;
  }
}

@media (max-width: 420px) {
  .pagination {
    gap: 10px;
  }

  .button {
    width: 60px;
  }
}
