.list {
  width: 100%;
  font-size: 2.4rem;
  list-style-type: none;
  text-align: center;
  border: 8px double white;
  border-radius: 20px;
  color: white;
  overflow-y: auto;
}

.link {
  display: block;
  padding: 10px;
  border-top: 2px solid aqua;
}

.listElement {
  text-shadow: 0 0 4px black;
  cursor: pointer;
}

.listElement + .listElement {
  box-shadow: 0 0 4px aqua;
}

.valueText {
  font-weight: 600;
  color: gold;
}

.empty {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0 0 4px red;
}

@media (hover: hover) and (pointer: fine) {
  .listElement:hover {
    background-color: goldenrod;
  }
}
