.wrapper {
  display: flex;
  margin: 5px auto;
  max-width: 50%;
}

.fill,
.empty {
  flex-grow: 1;
  height: 24px;
  border: 1px solid black;
}

.fill {
  background-color: mediumseagreen;
}

.empty {
  background-color: crimson;
}
