.main {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  height: 20vh;
  pointer-events: unset;
}

.inactive {
  pointer-events: none;
  cursor: pointer;
}

.error {
  text-align: center;
  color: crimson;
}
