.errorButton {
  max-width: 240px;
  font-size: 2rem;
  font-weight: bold;
  background-color: crimson;
  border: 2px solid black;
}

.errorButton.dark {
  background-color: firebrick;
}

@media (max-width: 768px) {
  .errorButton {
    max-width: 200px;
  }
}
