.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
}

.topSection {
  margin-bottom: 20px;
}

.botSection {
  flex-grow: 1;
  display: flex;
  padding-bottom: 20px;
}
