* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  background: rgb(44,158,242);
  background: radial-gradient(circle, rgba(44,158,242,1) 0%, rgba(228,233,148,1) 100%);
}

input {
  display: block;
  width: 100%;
  padding: 10px 16px;
  color: inherit;
  border: 2px solid black;
  border-radius: 8px;
  outline: none;
}

button {
  display: block;
  padding: 10px;
  width: 100%;
  font-size: inherit;
  color: white;
  background-color: black;
  border: unset;
  border-radius: 7px;
  box-shadow: 1px 1px 2px black;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    opacity: 0.75;
  }
}
